name: Workflow
on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Exists proyect on SonarCloud Service
        id: validateProjectOnSonar
        run: |
          set +e
          curl -f -X POST -u '${{secrets.SONAR_TOKEN}}:' 'https://sonarcloud.io/api/projects/create' -d 'name=${{github.event.repository.name}}' -d 'organization=claudioandre94-blip' -d 'project=${{github.event.repository.name}}' -d 'visibility=public'
          if [ $? -ne 0 ]; then
            echo "Proyecto ya existe en SonarCloud"
            echo "::set-output name=proyectoExiste::1"
          else
            echo "Proyecto ${{github.event.repository.name}} creado exitosamente en SonarCloud "
            echo "Se establece rama main por defecto"
            curl -f -X POST -u '${{secrets.SONAR_TOKEN}}:' 'https://sonarcloud.io/api/project_branches/rename' -d 'name=main' -d 'project=${{github.event.repository.name}}'
          fi
          set -e
      - name: Configure Node Project
        uses: actions/setup-node@v4

      - name: Install SonarCloud Node JS
        run : npm install -g @sonar/scan

      - name: Configure NodeJs Project
        run : npm install  

      - name: Run SonarCube on Project
        run : sonar-scanner -Dsonar.token=${{secrets.SONAR_TOKEN}} -Dsonar.organization=claudioandre94-blip  -Dsonar.projectKey=${{github.event.repository.name}}

      - name : Obtaing results from SonarCloud
        run :  |
          issueValidate=$(curl -s -X GET -u '${{secrets.SONAR_TOKEN}}:' 'https://sonarcloud.io/api/issues/search?branch=main&componentKeys=${{github.event.repository.name}}&types=VULNERABILITY&severities=MAJOR,CRITICAL,BLOCKER' | jq '.issues | length')
          echo "Cantidad de Issues MAJOR,CRITICAL,BLOCKER : $issueValidate"
          if [ "$issueValidate" -gt 0 ]; then
            echo "Se encontraron issues bloqueantes. Se quiebra el pipeline."
            exit 1
          else
            echo "No se encontraron issues bloqueantes. Pipeline Continua."
          fi                            

  SCA:
    needs: SAST
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Node Project
        uses: actions/setup-node@v4

      - name: Configure NodeJs Project
        run : npm ci

      - name: Run OWASP Dependecy-Check
        uses: dependency-check/Dependency-Check_Action@main
        env:
          JAVA_HOME: /opt/jdk
        with:
          project: '${{github.event.repository.name}}'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: > 
            --failOnCVSS 4
            --enableRetired

      - name: Upload Dependency-Check Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: ${{github.workspace}}/reports

      - name:  Check for vulnerabilities
        if: failure()
        run: |
          echo "Se han encontrado vulnerabilidades con CVSS >= 4"
          exit 1

  DockerBuild:
    needs: SCA
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Node Project
        uses: actions/setup-node@v4

      - name: Configure NodeJs Project
        run : npm install build

      - name: Build Docker Images
        run : |
          docker build --tag ${{secrets.DOCKER_USER}}/tareadevsecopsusachfinalclaudioquiroz:latest .

      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{secrets.DOCKER_USER}}/tareadevsecopsusachfinalclaudioquiroz:latest
          format: 'table'
          exit-code: '1'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM'


      - name: Login to DockerHub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{secrets.DOCKER_USER}}
          password: ${{secrets.DOCKER_PASSWORD}}
        
      - name: Push to DockerHub
        run : |
          docker push ${{secrets.DOCKER_USER}}/tareadevsecopsusachfinalclaudioquiroz:latest